@model CreateFileUploadViewModel
<!-- BEGIN: Modal Content -->
<div id="upload-modal" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg"> 
        <div class="modal-content">
            <!-- BEGIN: Modal Header -->
            <div class="modal-header">
                <h2 class="font-medium text-base ml-auto">
                    افزودن فایل جدید
                </h2>
                <button class="btn btn-outline-secondary hidden sm:flex"> <i data-feather="file" class="w-4 h-4 ml-2"></i> دانلود فایل ها </button>
                <div class="dropdown sm:hidden">
                    <a class="dropdown-toggle w-5 h-5 block" href="javascript:;" aria-expanded="false"> <i data-feather="more-horizontal" class="w-5 h-5 text-gray-600 dark:text-gray-600"></i> </a>
                    <div class="dropdown-menu w-40">
                        <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                            <a href="javascript:;" class="flex items-center p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="file" class="w-4 h-4 ml-2"></i> دانلود فایل ها </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Modal Header -->
            <!-- BEGIN: Modal Body -->
            <div class="modal-body p-5">
                <form id="upload-form">
                    <div id="multiple-file-upload" class="p-5">
                        <div class="preview">
                            <div class="dropzone">
                                <div class="fallback">
                                    <input asp-for="FileData" type="file" />
                                </div>
                                <div class="dz-message" data-dz-message>
                                    <div class="text-lg font-medium">فایل خود را اینجا بکشید و رها کنید</div>
                                    <div class="text-gray-600">
                                        تقریبا هر نوعی فایلی قابل قبول است. جز فایل های مخرب!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="preview">
                        <div>
                            <label asp-for="Title" class="form-label">عنوان</label>
                            <input asp-for="Title" class="form-control" placeholder="عنوان نمایشی فایل" />
                            <span asp-validation-for="Title"></span>
                        </div>
                        <div>
                            <label asp-for="AltTitle" class="form-label">عنوان جاگزین</label>
                            <input asp-for="AltTitle" class="form-control" placeholder="عنوان جایگزین برای نمایش" />
                            <span asp-validation-for="AltTitle"></span>
                        </div>
                        <div>
                            <label asp-for="Description" class="form-label">توضیحات</label>
                            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Description"></span>
                        </div>
                    </div>
                </form>
            </div>
            <!-- END: Modal Body -->
            <!-- BEGIN: Modal Footer -->
            <div class="modal-footer text-right">
                <button type="button" data-dismiss="modal" class="btn btn-outline-secondary w-20 ml-1">لغو</button>
                <button type="button" class="btn btn-primary w-20">ارسال</button>
            </div>
            <!-- END: Modal Footer -->
        </div>
    </div>
</div>
<!-- END: Modal Content -->