@font-face {
	font-family: "primary-font";
	src: url("../../fonts/farsi-fonts/vazir/vazir-thin.eot");
	src: url("../../fonts/farsi-fonts/vazir/vazir-thin.eot?#iefix") format("embedded-opentype"),
		 url("../../fonts/farsi-fonts/vazir/vazir-thin.woff2") format("woff2"),
		 url("../../fonts/farsi-fonts/vazir/vazir-thin.woff") format("woff"),
		 url("../../fonts/farsi-fonts/vazir/vazir-thin.ttf") format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: "primary-font";
	src: url("../../fonts/farsi-fonts/vazir/Vazir-Light.eot");
	src: url("../../fonts/farsi-fonts/vazir/vazir-Light.eot?#iefix") format("embedded-opentype"),
		 url("../../fonts/farsi-fonts/vazir/vazir-Light.woff2") format("woff2"),
		 url("../../fonts/farsi-fonts/vazir/vazir-Light.woff") format("woff"),
		 url("../../fonts/farsi-fonts/vazir/vazir-Light.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "primary-font";
	src: url("../../fonts/farsi-fonts/vazir/vazir-medium.eot");
	src: url("../../fonts/farsi-fonts/vazir/vazir-medium.eot?#iefix") format("embedded-opentype"),
		 url("../../fonts/farsi-fonts/vazir/vazir-medium.woff2") format("woff2"),
		 url("../../fonts/farsi-fonts/vazir/vazir-medium.woff") format("woff"),
		 url("../../fonts/farsi-fonts/vazir/vazir-medium.ttf") format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: "primary-font";
	src: url("../../fonts/farsi-fonts/vazir/vazir-bold.eot");
	src: url("../../fonts/farsi-fonts/vazir/vazir-bold.eot?#iefix") format("embedded-opentype"),
		 url("../../fonts/farsi-fonts/vazir/vazir-bold.woff2") format("woff2"),
		 url("../../fonts/farsi-fonts/vazir/vazir-bold.woff") format("woff"),
		 url("../../fonts/farsi-fonts/vazir/vazir-bold.ttf") format("truetype");
	font-weight: 700;
}