@model UpdateContentCategoryViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "ویرایش دسته بندی '" + Model.Title + "'";
}

<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    ویرایش دسته بندی
                    '@Model.Title'
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="page-body">

    <div class="container-xl">
        <form class="card" id="editForm" method="POST"
              asp-controller="@ContentCategoryController.Name" 
              asp-action="Edit" asp-area="@WebsiteAreaNames.Admin"
              asp-route-id="@Model.Id" asp-antiforgery="true">

            <div class="card-header">
                <h3>
                    دسته بندی جدید
                </h3>
            </div>
            <div class="card-body">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="LangId"/>
                <input type="hidden" asp-for="ContentTypeId"/>
                <input type="hidden" asp-for="ContentTypeName"/>
                <input type="hidden" asp-for="LangCode"/>
                <input type="hidden" asp-for="LangTitle"/>
                <input type="hidden" asp-for="ContentTypeTitle"/>

                <div class="mb-3 row">
                    <label class="col-3 col-form-label required">
                        عنوان
                    </label>
                    <div class="col">
                        <input asp-for="Title" type="text" class="form-control" placeholder="عنوان دسته بندی"/>
                        <span asp-validation-for="Title" class="invalid-feedback"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-3 col-form-label">
                        عنوان جایگزین
                    </label>
                    <div class="col">
                        <input asp-for="AltTitle" type="text" class="form-control" placeholder="عنوان جایگزین"/>
                        <span asp-validation-for="AltTitle" class="invalid-feedback"></span>
                        <small class="form-hint">
                            عنوان دیگر این دسته بندی
                        </small>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-3 col-form-label required">
                        نامک
                    </label>
                    <div class="col">
                        <input asp-for="Slug" type="text" class="form-control" placeholder="نامک برای استفاده در URL"/>
                        <span asp-validation-for="Slug" class="invalid-feedback"></span>
                        <small class="form-hint">
                            نامک به عنوان آدرس در URL برای دسترسی به این دسته بندی
                        </small>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-3 col-form-label required">
                        توضیحات
                    </label>
                    <div class="col">
                        <textarea asp-for="Description" class="form-control" rows="5" placeholder="توضیحات...">
                            </textarea>
                        <span asp-validation-for="Description"></span>
                    </div>
                </div>

            </div>
            <div class="card-footer text-end">
                <div class="d-flex">
                    <a href="#" class="btn btn-link">بی خیال</a>
                    <button type="submit" class="btn btn-primary ms-auto">ارسال</button>
                </div>
            </div>

        </form>
    </div>

</div>