@model AdminContentCategoryIndexViewModel
@{
    ViewData["Title"] = "لیست دسته بندی های " + Model.ContentTypeTitle;
}

<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h5 class="content-header-title float-left pr-1">
                    @ViewData["Title"]
                </h5>
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index" asp-area="@WebsiteAreaNames.Admin"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active">
                            @ViewData["Title"]
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="list">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    @ViewData["Title"]
                </h4>
            </div>
            <div class="card-content">
                <div class="card-body">



                </div>
            </div>
        </div>
    </section>
</div>

@section header {
    <link rel="stylesheet" type="text/css" href="~/behlog/assets/css/plugins/extensions/ext-component-treeview.css">
}

@section footer {
    <script src="~/behlog/assets/vendors/js/extensions/bootstrap-treeview.min.js" type="text/javascript"></script>
    <script src="~/behlog/assets/js/scripts/extensions/ext-component-treeview.js" type="text/javascript"></script>
}