<!DOCTYPE html>
<html lang="en" class="light">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>مدیریت سایت بهلاگ - @ViewData["Title"] </title>
    <link rel="stylesheet" type="text/css" href="~/behlog/css/app.css" />
    @await RenderSectionAsync("header", required: false)
</head>
<body class="main">
    
    <partial name="_mobileMenu" />
    <partial name="_topBar" />
    <partial name="_navMenu" />
    
    @RenderBody()

    <script type="text/javascript" src="~/behlog/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/behlog/js/app.js"></script>

    <partial name="_ValidationScripts" />

    @await RenderSectionAsync("footer", required: false)
</body>
</html>