<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>RTL mode - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
        <!-- CSS files -->
        <link href="~/behlog/css/tabler.rtl.min.css" rel="stylesheet"/>
        <link href="~/behlog/css/tabler-flags.rtl.min.css?1669759017" rel="stylesheet"/>
        <link href="~/behlog/css/tabler-payments.rtl.min.css?1669759017" rel="stylesheet"/>
        <link href="~/behlog/css/tabler-vendors.rtl.min.css?1669759017" rel="stylesheet"/>
        <link href="~/behlog/css/behlog.rtl.min.css?1669759017" rel="stylesheet"/>
        <style>
          @@import url('https://rsms.me/inter/inter.css');
          :root {
          	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
          }
          body {
          	font-feature-settings: "cv03", "cv04", "cv11";
          }
        </style>

        @await RenderSectionAsync("header", required: false)
</head>
<body>
<script src="~/behlog/js/behlog-theme.min.js?1669759017"></script>

<div class="page">

    <partial name="_topHeader" />
    
    <partial name="_adminNavbar" />
    
    <div class="page-wrapper">
        @RenderBody()
    </div>
</div>

    <!-- Tabler Core -->
    <script src="~/behlog/js/tabler.min.js?1669759017" defer></script>
    <script src="~/behlog/js/behlog.min.js?1669759017" defer></script>

    @await RenderSectionAsync("footer", required: false)
</body>
</html>