<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>RTL mode - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
        <!-- CSS files -->
        <link href="~/admin-assets/css/tabler.rtl.min.css" rel="stylesheet"/>
        <link href="~/admin-assets/css/tabler-flags.rtl.min.css?1669759017" rel="stylesheet"/>
        <link href="~/admin-assets/css/tabler-payments.rtl.min.css?1669759017" rel="stylesheet"/>
        <link href="~/admin-assets/css/tabler-vendors.rtl.min.css?1669759017" rel="stylesheet"/>
        <link href="~/admin-assets/css/behlog.rtl.min.css?1669759017" rel="stylesheet"/>
        <style>
          @@import url('https://rsms.me/inter/inter.css');
          :root {
          	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
          }
          body {
          	font-feature-settings: "cv03", "cv04", "cv11";
          }
        </style>
</head>
<body>

@RenderBody()

</body>
</html>