<div class="intro-x relative ml-3 sm:ml-6">
    <div class="search hidden sm:block">
        <input type="text" class="search__input form-control border-transparent placeholder-theme-13" placeholder="جستجو...">
        <i data-feather="search" class="search__icon dark:text-gray-300"></i> 
    </div>
    <a class="notification notification--light sm:hidden" href=""> <i data-feather="search" class="notification__icon dark:text-gray-300"></i> </a>
    <div class="search-result">
        <div class="search-result__content">
            <div class="search-result__content__title">صفحات</div>
            <div class="mb-5">
                <a href="" class="flex items-center">
                    <div class="w-8 h-8 bg-theme-17 text-theme-20 flex items-center justify-center rounded-full"> <i class="w-4 h-4" data-feather="inbox"></i> </div>
                    <div class="mr-3">تنظیمات ایمیل</div>
                </a>
                <a href="" class="flex items-center mt-2">
                    <div class="w-8 h-8 bg-theme-18 text-theme-21 flex items-center justify-center rounded-full"> <i class="w-4 h-4" data-feather="users"></i> </div>
                    <div class="mr-3">کاربران و دسترسی ها</div>
                </a>
                <a href="" class="flex items-center mt-2">
                    <div class="w-8 h-8 bg-theme-19 text-theme-22 flex items-center justify-center rounded-full"> <i class="w-4 h-4" data-feather="credit-card"></i> </div>
                     <div class="mr-3">گزارش تراکنش ها</div>
                </a>
            </div>
            <div class="search-result__content__title">کاربران</div>
            <div class="mb-5">
                <a href="" class="flex items-center mt-2">
                    <div class="w-8 h-8 image-fit">
                        <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="~/behlog/images/profile-9.jpg">
                    </div>
                    <div class="mr-3">لئونارد دیکاپریو</div>
                    <div class="mr-auto w-48 truncate text-gray-600 text-xs text-left">leonardodicaprio@left4code.com</div>
                </a>
                <a href="" class="flex items-center mt-2">
                    <div class="w-8 h-8 image-fit">
                        <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="~/behlog/images/profile-9.jpg">
                    </div>
                    <div class="mr-3">تام هنکس</div>
                    <div class="mr-auto w-48 truncate text-gray-600 text-xs text-left">tomhanks@left4code.com</div>
                </a>
                <a href="" class="flex items-center mt-2">
                    <div class="w-8 h-8 image-fit">
                        <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="~/behlog/images/profile-9.jpg">
                    </div>
                    <div class="mr-3">راسل کرو</div>
                    <div class="mr-auto w-48 truncate text-gray-600 text-xs text-left">russellcrowe@left4code.com</div>
                </a>
                <a href="" class="flex items-center mt-2">
                    <div class="w-8 h-8 image-fit">
                        <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="~/behlog/images/profile-15.jpg">
                    </div>
                    <div class="mr-3">لئونارد دیکاپریو</div>
                    <div class="mr-auto w-48 truncate text-gray-600 text-xs text-left">leonardodicaprio@left4code.com</div>
                </a>
            </div>
            <div class="search-result__content__title">محصولات</div>
            <a href="" class="flex items-center mt-2">
                <div class="w-8 h-8 image-fit">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="~/behlog/images/preview-2.jpg">
                </div>
                <div class="mr-3">نیک ایر مکس </div>
                <div class="mr-auto w-48 truncate text-gray-600 text-xs text-left">ورزشی</div>
            </a>
            <a href="" class="flex items-center mt-2">
                <div class="w-8 h-8 image-fit">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="~/behlog/images/preview-14.jpg">
                </div>
                <div class="mr-3"> سونی آ سون </div>
                <div class="mr-auto w-48 truncate text-gray-600 text-xs text-left"> عکاسی </div>
            </a>
            <a href="" class="flex items-center mt-2">
                <div class="w-8 h-8 image-fit">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="~/behlog/images/preview-6.jpg">
                </div>
                <div class="mr-3">سونی مستر سریز ای‌ناین‌جی</div>
                <div class="mr-auto w-48 truncate text-gray-600 text-xs text-left">الکترونیک</div>
            </a>
            <a href="" class="flex items-center mt-2">
                <div class="w-8 h-8 image-fit">
                    <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full" src="~/behlog/images/preview-14.jpg">
                </div>
                <div class="mr-3">سامسونگ گلکسی بیست</div>
                <div class="mr-auto w-48 truncate text-gray-600 text-xs text-left">گوشی هوشمند و لپتاپ</div>
            </a>
        </div>
    </div>
</div>