@inject IIdyfaUserContext _userContext

<div class="intro-x dropdown w-8 h-8">
    <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in" role="button" aria-expanded="false">
        <img alt="@_userContext.DisplayName" src="~/behlog/images/profile-3.jpg">
    </div>
    <div class="dropdown-menu w-56">
        <div class="dropdown-menu__content box dark:bg-dark-6">
            <div class="p-4 border-b border-black border-opacity-5 dark:border-dark-3">
                <div class="font-medium">
                    @_userContext.DisplayName
                </div>
                <div class="text-xs text-gray-600 mt-0.5 dark:text-gray-600">@_userContext.UserName</div>
            </div>
            <div class="p-2">
                <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-gray-200 dark:hover:bg-dark-3 rounded-md"> <i data-feather="user" class="w-4 h-4 ml-2"></i> پروفایل </a>
                <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-gray-200 dark:hover:bg-dark-3 rounded-md"> <i data-feather="edit" class="w-4 h-4 ml-2"></i> افزودن اکانت </a>
                <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-gray-200 dark:hover:bg-dark-3 rounded-md"> <i data-feather="lock" class="w-4 h-4 ml-2"></i>بازیابی رمزعبور</a>
                <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-gray-200 dark:hover:bg-dark-3 rounded-md"> <i data-feather="help-circle" class="w-4 h-4 ml-2"></i>راهنمایی</a>
            </div>
            <div class="p-2 border-t border-black border-opacity-5 dark:border-dark-3">
                <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-gray-200 dark:hover:bg-dark-3 rounded-md"> <i data-feather="toggle-right" class="w-4 h-4 ml-2"></i>خروج</a>
            </div>
        </div>
    </div>
</div>